.audiophone-page-dark-theme {
	background-color: #343434;
	color: white;
}

.audiophone-page-primary-color {
	background-color: #ab3038;
}


.audiophone-page-primary-color-contrast {
	background-color: #28667b
}

.font-20 {
	font-size: 20px;
}

.bg {
	background-color: #343434;
}

.carousel-height {
	height: 50%;
} 

.nav-item {
	color: white !important;
	margin-right: 30px; 
}

.logo-brand {
	max-width: 40px;
}

.font-menu-xs {
	font-size: 12px;
}

.header-background {
	background: rgb(171,48,56);
	background: linear-gradient(90deg, rgba(171,48,56,1) 0%, rgba(40,102,123,1) 100%);
	border-radius: 0;
}

.header-title {
	font-style: italic;
}

.bars {
	color: white;
}

.button-shadow {
	box-shadow: 0px 0px 8px 1px rgba(184,184,184,1);
}

.services {
	padding: 25px;
}

.fondo {
	background-image: url('./../img/FondoServicios.png');
	background-repeat: none;
	background-size: cover;
}

.opacity {
	background-color: black;
	opacity: 0.8;
	height: 100%;
}

/*html {      
    width:100%;
    height:100%;       
}

body {
	font-family: helvetica;
	overflow-x:hidden;
	font-size: 1em;
}

header {
	background-image: url(./../img/consola3.jpg);
	 background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;
}

header h3 {
	font-style: italic;
}

header div {
	color: white;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
}

#intro {
	background-color: #262626;
	color: white;
}

#intro h3 {
	font-style: italic;
}

.flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flex-child {
	align-self: center;
	padding-right: 20px;
	padding-left: 20px;
}

#acerca {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #262626;
	color: white;
}

#acerca h4 {
	font-weight: bold;
}

#servicios {
	background-color: black;
	color: white;
}

#tarifas {
	background-color: #262626;
}

#tarifas h2, h4 {
	color: white;
}

#tarifas h5 {
	font-weight: bold;
	text-decoration: underline;
}

.padding {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	font-style: italic;
	text-align: justify;
}

.comment {
	font-weight: bold;
	font-style: italic;
}

.dark-blue {
	background-color: black;
	color: white;
	border-radius: 10px;
	border-color: white;
}

.dark-blue:hover, .dark-blue:active, .dark-blue:hover {
	color: white;
	border-color: white;
	background-color: #28667B
}

#iconos {
	background-color: #28667B;
	padding-top: 50px;
	padding-bottom: 50px;
}

#contacto {
	background-color: black;
	color: white;
	padding: 50px 50px;
}

#contacto h4 {
	text-decoration: underline;
	font-weight: bold;
}

#footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer span {
	font-weight: bold;
}

#footer a {
	color: black
}

#footer a:hover {
	color: #28667B;
	text-decoration: none;
}

.modal-header, .modal-footer {
	background-color: #262626;
	color: white;
}

.modal-title {
	text-transform: uppercase;
	font-weight: bold;
}

.link-center {
	margin: 0 auto;
}

#comentario {
	background-image: url(./../img/estudio1.1.jpg);
	 background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.logo-brand {
	height: 50px;
	width: 50px;
}

.modal-content-center {
	text-align: center;
}

.maps {
	width: 600px;
	height: 450px;
}*/