body {
	font-family: helvetica;
	overflow-x:hidden;  
}

#acerca {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #262626;
	color: white;
}

#acerca h4 {
	font-weight: bold;
}

.img {
	max-width: 200px;
}

#intro {
	background-color: black;
	color: white;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
}

.padding {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	font-style: italic;
	text-align: justify;
}