body {
	font-family: helvetica;
	overflow-x:hidden;
}

#header {
	background-color: #262626;
	color: white;
}

#header h1 {
	text-transform: uppercase;
	font-weight: bold;
}

#acerca {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #262626;
	color: white;
}

#acerca h4 {
	font-weight: bold;
}

#intro {
	background-color: black;
	color: white;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
}

#tarifas {
	background-color: #262626;
	color: white;
}

.padding {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	font-style: italic;
	text-align: justify;
}

.comment {
	font-weight: bold;
	font-style: italic;
}