body {
	font-family: helvetica;
	overflow-x:hidden;
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;
}

header h3 {
	font-style: italic;
}

header div {
	background-color: black;
	color: white;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
}

#intro {
	background-color: #262626;
	color: white;
}

#intro h3 {
	font-style: italic;
}

.flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flex-child {
	align-self: center;
}

#acerca {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #262626;
	color: white;
}

#acerca h4 {
	font-weight: bold;
}

#servicios {
	background-color: black;
	color: white;
}

#tarifas {
	background-color: #262626;
}

#tarifas h2, h4 {
	color: white;
}

.padding {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	font-style: italic;
	text-align: justify;
}

.comment {
	font-weight: bold;
	font-style: italic;
}
