
/* Transiciones circulos */

/*.animate-left {
	transition: transform 2s;
}

.animate-left:hover {
	transform: translateX(-25%);
}

.animate-right {
	transition:  transform 2s;
}

.animate-right:hover {
	transform: translateX(25%); 
}*/

@font-face {
	font-family: "Times";
	src: url('./../fonts/Hathem Bosteem.ttf');
}

body {
	overflow-x: hidden;
}

.audiophone-page-dark-theme {
	background-color: #343434;
	color: white;
}

.audiophone-page-primary-color {
	background-color: #ab3038;
}


.audiophone-page-primary-color-contrast {
	background-color: #28667b
}

.font-special {
	font-family: "Times" !important;
	color: white;
}

.font-special:hover {
	color: white;
	text-decoration: none;
}

.font-20 {
	font-size: 20px;
}

.bg {
	background-color: #343434;
}

.carousel-height {
	height: 50%;
} 

.nav-item {
	color: white !important;
	margin-right: 30px; 
}

.logo-brand {
	max-width: 40px;
}

.font-menu-xs {
	font-size: 12px;
}

.header-background {
	background: rgb(171,48,56);
	background: linear-gradient(90deg, rgba(171,48,56,1) 0%, rgba(40,102,123,1) 100%);
	border-radius: 0;
}

.header-title {
	font-style: italic;
}

.bars {
	color: white;
}

.button-shadow {
	box-shadow: 0px 0px 8px 1px rgba(184,184,184,1);
}

.services {
	padding: 25px;
}

.fondo {
	background-image: url('./../img/FondoDeservicios.png');
	background-repeat: none;
	background-size: cover;
}

.opacity {
	background-color: black;
	opacity: 0.8;
}

.circle-blue {
	border-radius: 50%;
	background-color: #28667b;
	height: 300px;
  width: 300px;	
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-red {
	background-color: rgba(171,48,56,1);
	height: 300px;
  width: 300px;	
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-blue > span {
	font-style: italic;
	font-size: 22px;
	font-weight: bold;
}

.circle-red > span {
	font-style: italic;
	font-size: 22px;
	font-weight: bold;
}

.animate-right {
	margin-right: 50%;
	transition: margin-right 1.5s ease;
	-webkit-transition: margin-right 1.5s ease;
	-moz-transition: margin-right 1.5s ease;
	-o-transition: margin-right 1.5s ease;
}

.animate-right:hover {
	margin-right: 0%;
}

.animate-left {
	margin-left: 50%;
	transition: margin-left 1.5s ease;
	-webkit-transition: margin-left 1.5s ease;
	-moz-transition: margin-left 1.5s ease;
	-o-transition: margin-left 1.5s ease;
}

.animate-left:hover {
	margin-left: 0%;
}


.fondo-blue {
	background: #1c4756;
	background: -webkit-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
	background: -o-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
	background: linear-gradient(to right, rgba(52,52,52,1) 0%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
	padding-right: 10px;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
}

.fondo-red {
	background: #99272f;
	background: -webkit-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
	background: -o-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
	background: linear-gradient(to right, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
	padding-left: 10px;
	border-top-left-radius: 150px;
	border-bottom-left-radius: 150px;
}

.ajuste {
	width: 100%;
}

.ajuste li {
	font-size: 18px;
	font-style: italic;
}

.piano {
	background-image: url('../img/FondodeGrupoMusical.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.consola {
	background-image: url('./../img/FondoServicios.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.alquiler {
	background-image: url('../img/Imagen0094.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}


.modal-header, .modal-footer {
	background-color: #262626;
	color: white;
}

.modal-title {
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}


.clients {
	background-color: #202020;
	border-radius: 10px;
}

.modal-body {
	color: black;
	padding-right: 4vw;
	padding-left: 4vw;
	font-size: 14px;
}

.padding {
	padding-right: 4vw;
	padding-left: 4vw;
}

.maps {
	width: 600px;
	height: 450px;
}

.circle-l-red {
	background: rgb(171,48,56);
	background: linear-gradient(0deg, rgba(171,48,56,1) 30%, rgba(32,32,32,1) 100%);
	height: 250px;
  width: 250px;	
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-l-red > span {
	font-size: 28px;
	font-style: italic;	
}

.circle-l-blue {
	border-radius: 50%;
	background: rgb(40,102,123);
	background: linear-gradient(0deg, rgba(40,102,123,1) 30%, rgba(32,32,32,1) 100%);
	height: 250px;
  width: 250px;	
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-l-red > span {
	font-size: 28px;
	font-style: italic;	
}

.circle-l-blue > span {
	font-size: 28px;
	font-style: italic;	
}

.fondo-r {
	background: #202020;
	border-top-left-radius: 130px;
	border-bottom-left-radius: 130px; 
}

.fondo-l {
	background: #202020;
	border-top-right-radius: 130px;
	border-bottom-right-radius: 130px; 
}

.terms {
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
}

.fondo05 {
	background-image: url('./../img/Fondo05.jpg');
	background-repeat: none;
	background-size: cover;
}


/*html {      
    width:100%;
    height:100%;       
}

body {
	font-family: helvetica;
	overflow-x:hidden;
	font-size: 1em;
}

header {
	background-image: url(./../img/consola3.jpg);
	 background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;
}

header h3 {
	font-style: italic;
}

header div {
	color: white;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
}

#intro {
	background-color: #262626;
	color: white;
}

#intro h3 {
	font-style: italic;
}

.flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.flex-child {
	align-self: center;
	padding-right: 20px;
	padding-left: 20px;
}

#acerca {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #262626;
	color: white;
}

#acerca h4 {
	font-weight: bold;
}

#servicios {
	background-color: black;
	color: white;
}

#tarifas {
	background-color: #262626;
}

#tarifas h2, h4 {
	color: white;
}

#tarifas h5 {
	font-weight: bold;
	text-decoration: underline;
}

.padding {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	font-style: italic;
	text-align: justify;
}

.comment {
	font-weight: bold;
	font-style: italic;
}

.dark-blue {
	background-color: black;
	color: white;
	border-radius: 10px;
	border-color: white;
}

.dark-blue:hover, .dark-blue:active, .dark-blue:hover {
	color: white;
	border-color: white;
	background-color: #28667B
}

#iconos {
	background-color: #28667B;
	padding-top: 50px;
	padding-bottom: 50px;
}

#contacto {
	background-color: black;
	color: white;
	padding: 50px 50px;
}

#contacto h4 {
	text-decoration: underline;
	font-weight: bold;
}

#footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer span {
	font-weight: bold;
}

#footer a {
	color: black
}

#footer a:hover {
	color: #28667B;
	text-decoration: none;
}

.

.link-center {
	margin: 0 auto;
}

#comentario {
	background-image: url(./../img/estudio1.1.jpg);
	 background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.logo-brand {
	height: 50px;
	width: 50px;
}

.modal-content-center {
	text-align: center;
}


*/