@media screen and ( min-width: 320px ) and ( max-width: 575px ) {
	.d-xs {
		display: block;
	}

	.d-sm {
		display: none !important;
	}

	.clients {
		width: 90%;
	}

	.maps {
		width: 90%;
	}

	p {
		font-size: 14px !important;
		margin-top: 20px;
	}

	.alquiler-xs {
		background-image: url('../img/AlquilerTelf.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
	}

	.consola-xs {
		background-image: url('../img/EstudioGrabaTelf.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
	}

	.piano-xs {
		background-image: url('../img/GrupoMusicalTelf.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
	}

	.title {
		font-size: 16px;
	}

	.services-list {
		font-size: 12px;
	}

	.effect {
		color: transparent;
		transition: color 1s ease;
	}
}

@media screen and ( min-width: 576px ) {
	.d-xs {
		display: none;
	}

	.d-sm {
		display: block;
	}
}

@media screen and ( min-width: 576px ) and (max-width: 768px) {
	.font-20 {
		font-size: 15px;
	}

	.links > a > i {
		color: white;
		font-size: 24px;
	}
}

@media screen and ( min-width: 576px ) and ( max-width: 1199px ) {
	
	.img-sm {
		height: 400px;
		width: 400px;
		border-radius: 50% 50% 50% 50%;
	}

	.fondo-blue {
		background: rgb(52,52,52);
		background: -webkit-linear-gradient(left, rgba(52,52,52,1) 30%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
		background: -o-linear-gradient(left, rgba(52,52,52,1) 30%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
		background: linear-gradient(to right, rgba(52,52,52,1) 30%, rgba(28,71,86,1) 75%, rgba(52,52,52,1) 100%);
		/*border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;*/
		padding: 0;
	}

	.fondo-red {
		background: rgb(52,52,52);
		background: -webkit-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
		background: -o-linear-gradient(left, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
		background: linear-gradient(to right, rgba(52,52,52,1) 0%, rgba(171,59,64,1) 35%, rgba(52,52,52,1) 80%);
		/*border-top-left-radius: 0;
		border-bottom-left-radius: 0;*/
		padding: 0;
	}

	.effect {
		color: transparent;
		transition: color 1s ease;
	}
}

@media screen and ( min-width: 720px ) and (max-width: 960px ) {
	.font-14 {
		font-size: 14px;
	}

	.img-special {
		height: 30vh;
		width: 100%;
	}

	.fondo-r {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.fondo-l {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}