
/* Contenido de la ventana modal*/


.modal-content {

	background-color: #25272F;

}


/* galeria 1 */


#galeria1 h2 {

	font-family: helvetica;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	font-weight: 700;

}

.item-intro{

	line-height: 1.75;
	font-style: italic;
	color: white;
	text-align: center;
	font-size: 18px;
	margin-bottom: 40px;
}

#galeria1 a {

	background-color: black;
	border-color: white;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;	

}


#galeria1 img {

	border-radius: 10px;
	margin-bottom: 10px;


}

#imagen1 {

	height:400px;
	width: 600px; 
}



#galeria1 p {

	margin-top: 20px;
	color: white;
	font-style: italic;
	

}

#cont_modal {

	background-color: black;
	border-radius: 10px;

}

#elementos {

	margin-top: 10px;
	margin-bottom: 10px;

}

#boton1:hover {

	background-color: #40E0D0;

}

.col-sm-12 {

	margin-bottom: 25px;
}
