.font-20 {
	font-size: 20px;
}

.bg {
	background: linear-gradient(90deg, rgba(171,48,56,1) 0%, rgba(40,102,123,1) 100%);
	color: white;
}

.nav-item {
	color: white !important;
	margin-right: 30px; 
}

.logo-brand {
	max-width: 40px;
}

.font-menu-xs {
	font-size: 12px;
}

.contact-button {
	background: #255062;
	color: white;
}

.bars {
	color: white;
}

