@import './index.css';
@import './media.index.css' screen;
@import './navbar.css';

.bg {
	background: #343434 !important;
}

.cons {
	background-image: url('./../img/FondoServicios.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	background-position: center;
}

.separator {
	background: linear-gradient(90deg, rgba(171,48,56,1) 0%, rgba(40,102,123,1) 100%);
	height: 7px;
}


.sec {
	background: #202020;
	border-radius: 150px;
	padding: 25px;
}

.img-studio {
	border-radius: 135px;
	max-height: 300px;
	padding: 5px 5px 5px 10px;
}

.text {
	margin-right: 5vw;
	margin-left: 5vw;
}

.border-d {
	background: linear-gradient(90deg, rgba(171,48,56,1) 0%, rgba(40,102,123,1) 100%);
	padding: 5px 20px 5px 20px;
	border-radius: 150px; 
}

.nav-link {
	color: white !important;
	font-size: 22px;
}

.nav-sep {
	border-left-color: white;
	border-left-style: solid;
	border-width: 1px;
}


.fondo {
	background-image: url('./../img/FondoDeservicios.png');
	height: 300px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* effect paralax */
	background-repeat: no-repeat;
}

.fondo-gmh {
	background-image: url('./../img/FondodeGrupoMusical.png');
	height: 300px;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed; /* effect paralax */
	background-repeat: no-repeat;
}

.fondo-rental {
	background-image: url('./../img/AlquilerdeEquposFondo.jpg');
	height: 300px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; /* effect paralax */
	background-repeat: no-repeat;
	opacity: 0.9;
}


/* Gallery */
.foto {
	height: 300px;
	width: 100%;
	cursor: pointer;
}

.w-50 {
	width: 65% !important;
	max-height: 400px !important;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-black {
	background-color: black;
}


/* The Modal (background) */
.modal-gallery {
	background-color: black;
	/*opacity: 0.5;*/
}

.cursor {
	cursor: pointer;
}


.modal-gallery-content {
	width: 100%;
	color: white;
}

.modal-gallery-content .foto-inside {
	max-height: 500px;
}

.foto-list {
	max-height: 150px;
	width: 150px;
}

.b-0 {
	border-radius: 0 !important;
	max-height: 250px !important;
	max-width: 250px !important;
}



/*
	Video responsive
*/

video {
	max-width: 100%;
	height: auto;
}


/* Gallery XS */
@media screen and ( min-width: 320px ) and ( max-width: 767px ) and ( orientation: portrait ) {
	
	.margin-gallery-xs {
		margin-left: 10px;
		margin-right: 10px;
	}

	.margin-gallery-xs img {
		height: 200px;
	}

	.mt-r {
		margin-top: 20px;
	}
}



@media screen and ( min-width: 768px ) and ( max-width: 1280px ) {
	.img-studio {
		border-radius: 135px;
		height: 230px;
		padding: 5px 5px 5px 10px;
	}

	.b-0-r {
		max-height: 200px !important;
		max-width: 200px !important;
		border-radius: 0 !important;
		height: 150px !important;
	}	
}

@media screen and ( min-width: 768px ) and ( max-width: 1280px ) and ( orientation: portrait ) {
	.foto {
		height: 250px;
	}
}

@media screen and ( min-width: 320px ) and ( max-width: 767px ) {
	.icon {
		margin-bottom: 25px;
	}

	.border-d  {
		width: 95%;
	}	
}
