body {

	overflow-x: hidden; 
	font-family: helvetica;
}

p {

	font-size: 14px;
	line-height: 1.75;
	text-align: center;
}

header {

	background-image: url(../img/consola3.jpg);
	background-repeat: none;
	color: #fff;
	background-position: center;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
     
}

header > .container > h1 {

	font-size: 50px;
	font-weight: bold;
}

header > .container {

	margin-top: 10px;
	text-transform: uppercase;
	line-height: 1.75;

}


 .jumbotron > h1 {

	text-align: center;
	margin-bottom: 70px;
	color: white;
	margin-top: 70px;
	text-transform: uppercase;
	


}

.jumbotron > img {

    background-position: center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}

.jumbotron {

	background-color: black;
}


.jumbotron > p {

	font-style: italic;
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom: 100px;
	border-color: black;
	color: white;
	font-family: helvetica;
	margin-top: 50px;
}

#boton1 {

	background-color: black;
	color: white;
	border-color: white;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#boton1:hover, #boton1:active, #boton1:focus {

	background-color:  #28667B;
	color: white;
	border-color: white;
} 

#contenedor {

	background-color:  #25272F;
	margin-top: -30px;
}

a  {

	color: #2E2E2E;
}

a:focus, a:active,
a:active {

    color: #28667B; 
}


.thumbnail {

	border-color: gray;
	background-color: black;
	border-radius: 10px;
	border-color: white;
	

}

#inicio {

	margin-top: 30px;
}

.thumbnail h3 {

	color: white;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: underline;
}

.thumbnail h4 {

	color: white;
	margin-bottom: 20px;
}

.thumbnail p {

	color: white;
	font-style: italic;

}

.thumbnail img {

	border-radius: 20px;
}

/*#reducir {

	height: 310px;
}*/


#final {

	margin-bottom: 20px;

}

footer {

	padding: 25px 0;
    text-align: center;
    font-weight: 700;
    background-color: #F5F5F5;
}

footer span .copyright {

	line-height: 40px;
}

footer ul.quicklinks {
    
    margin-bottom: 0;
    line-height: none;
    text-decoration: none;

}

ul.social-buttons {

    margin-bottom: 0;
}

ul.social-buttons li a {

    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {

    background-color: #28667B;
    color: white;
}

.label-info {

	background-color: #28667B;
}
